<app-header  [icone] = 'icone' [title]='title'></app-header>

<body>
    <div class="form">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Digite o CPF do paciente" formControlName="cpf" mask="000.000.000-00">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Descrição</mat-label>
                        <textarea matInput formControlName="descricao"></textarea>
                      </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onEnviarEmail()">Enviar por e-mail</button>
            </mat-card-actions>
        </mat-card>
    </div>
        <div class="foto_diag"
            style="background-image: url('../../../assets/radio2.png')">
        </div>
</body>

<app-footer></app-footer>