body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
    margin-bottom: 40vh;
}