<app-header [icone]='icone' [title]='title'></app-header>

<body>
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Digite o CPF do paciente" formControlName="cpf" mask="000.000.000-00">
                    </mat-form-field>
                    <app-upload-file></app-upload-file>    
                </form>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
                <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
            </mat-card-actions>
        </mat-card>
</body>
<app-footer></app-footer>