<body>
    <div class="superior">
        <div class="img_logo">
            <img class="img_responsivo" src="../../assets/decera_logo.png">
        </div>
        <div class="form">
            <form [formGroup]="form">
                <input matInput type="text" placeholder="CPF" formControlName="cpf">
            </form>
            <button class="button" mat-stroked-button (click) = "onSubmit()">Entrar</button>
        </div>
    </div>

    <div class="body">
        <div>
            <h2 id="texto">Chega de demora, <br>
                pensamos na entrega rápida <br>
                e qualidade no exame.
            </h2>
        </div>
       
        <div class="vitrine">
            <img *ngIf="this.contador == 0" class="img" src="/assets/30534.png">
            <img *ngIf="this.contador == 1" class="img" src="/assets/946328.png">
        </div>
    </div>
</body>
<app-footer></app-footer>
