.superior {
    background-color: #ec7404;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}


.img_logo img {
    max-height: 40px;
}

.superior button {
    border: 1px solid #ffffff;
    color: #ffffff;
}


.body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.body h2 {
    position: absolute;
    right: 0%;
    top: 50%;
    left: 0%;
    bottom: 0;
    color: #231d19;
    font-family: "ItauDisplay-XBold", "Myriad Pro", Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
    
}

.body .vitrine img {
    border-radius: 3px;
    position: absolute;
    right: 0%;
    top: 20%;
    left: 45%;
    bottom: 0;
}

.form {
    width: 15vw;
    margin-left: 50%;
    display: flex;
}

.form input {
    height: 5vh;
    width: 7vw;
    text-align: center;
    border-radius: 3px;
    margin-left: 1%;
    border: #ffffff;
}


.vitrine {
    padding-bottom: 30%;
    border: white;
    background-repeat: no-repeat;
}


h2 {
    line-height: 100%;
    font-family: "ItauDisplay-XBold", "Myriad Pro", Arial;
    margin-bottom: 8px;
    margin-left: 12%;
}

.button {
    margin-left: 5%;
}

.vitrine .img {
    height: 50vh;
    width: 50vw;
}