<app-header></app-header>
<body>
  <div>
    <h2 id="nome">Olá {{ this.login.nome }}</h2>
    <h2>
      Sobre a empresa
    </h2>
    <p> Detectar, através de técnicas de processamento de imagens </p>
    <p> com auxílio de machine learning, potenciais corpos estranhos </p>
    <p> em radiografias e categorizar as imagens de acordo com os </p>
    <p> resultados. </p>
    
  </div>
  <div>
    <img class="img_responsivo" src="../../../assets/raioX.svg">
  </div>
</body>
<app-footer></app-footer>