body{
    min-height: 50%;
    max-height: 60%;
    min-width: 50%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body div h2 {
    font-weight: bold;
}

div{
    margin: 1%;
}
