<app-header [icone]='icone' [title]='title'></app-header>

<body>
    <mat-card>
        <mat-toolbar> Exames Disponíveis</mat-toolbar>
        
        <div *ngIf="radiografias; else loading" class="table">
            <table mat-table [dataSource]="radiografias" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let exame"> 
                    <button *ngIf="exame.id_diagnostico == undefined" mat-raised-button color="primary" (click)="onButton(exame.id)">diagnóstico</button>
                    {{ exame.id }} </td>
                </ng-container>


                <ng-container matColumnDef="data_criacao">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let exame"> {{ exame.data_criacao }} </td>
                </ng-container>

                <ng-container matColumnDef="deteccao">
                    <th mat-header-cell *matHeaderCellDef> Detecção </th>
                    <td mat-cell *matCellDef="let exame"><mat-icon *ngIf="exame.deteccao == false">close</mat-icon>
                        <mat-icon *ngIf="exame.deteccao == true">done</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="cpf_operador">
                    <th mat-header-cell *matHeaderCellDef> CPF do Operador </th>
                    <td mat-cell *matCellDef="let exame"> {{ exame.cpf_operador }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['id','data_criacao', 'deteccao', 'cpf_operador']"></tr>
                <tr mat-row *matRowDef="let diagnostico; columns: ['id','data_criacao', 'deteccao', 'cpf_operador']"></tr>
            </table>
        </div>

        <ng-template #loading>
            <div class="loading-spinner">
                <mat-spinner color="primary"></mat-spinner>
            </div>
        </ng-template>

    </mat-card>
</body>
<app-footer></app-footer>