<mat-toolbar class="footer">

    <span>
        <img class="logo" src="../../../assets/decera_logo.png">
    </span>

    <span>
        <h2 class="texto">Telefone: xxxx-xxxx</h2>
        <h2 class="texto">E-mail: atendimento@decera.com.br</h2>
    </span>
    <span>
        <ul>
            <li>Felipe Oliveira do Espirito Santo 11925242</li>
            <li>Fernando José Germinio Fenley 11207630</li>
            <li>José Rafael Rodrigues Nascimento 11847801</li>
            <li>Luiz Fernando Conceição dos Santos 11840300</li>
            <li>Luiz Felipe Vieira Cordeiro 9844811</li>
        </ul>

    </span>
</mat-toolbar>