.footer {
    position: relative;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    height: 20%;
    background-color: #F86D08;
}

.footer span h1 {
    text-align: center;
    align-self: center;
}

.footer span {
    font-weight: 200;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

span h2 {
    text-align: center;
}

span p, h2 {
    color: #ffffff;
}