html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*menores que 480px*/
.mat-typography h2 {
    font-size: 12px;
}

.mat-typography p {
    font-size: 10px;
}

.mat-typography .img_responsivo {
    height: 100%;
    width: 100%;
}

.mat-typography .logo {
    max-width: 40px;
}

.mat-typography .foto {
    height: 100px;
    width: 70px;
}

.mat-typography .foto_diag{
    height: 200px;
    width: 200px;
}

.footer ul {
    font-size: 9px;
}

.footer .texto {
    font-size: 9px;
}

.mat-typography .body h2 {
    font-size: 10px;
}

.mat-typography .footer_text h2 {
    font-size: 10px;
}

.mat-typography .form .img_botao {
    height: 48px;
}

.mat-typography .form .img_botao_seta {
    height: 48px;
}

.mat-typography .superior form input {
    width: 100px;
}




/*480px - 768px = tablet*/
@media (min-width: 480px) {
    .mat-typography h2 {
        font-size: 16px;
    }

    .mat-typography p {
        font-size: 12px;
    }

}

/*768px - 1024px = telas menores, laptops*/
@media (min-width: 768px) {
    .mat-typography h2 {
        font-size: 18px;
    }

    .mat-typography p {
        font-size: 14px;
    }

    .footer ul {
        font-size: 12px;
    }
    
    .footer .texto {
        font-size: 12px;
    }
    
    .mat-typography .body h2 {
        font-size: 12px;
    }
    
    .mat-typography .footer_text h2 {
        font-size: 12px;
    }

    .mat-typography .body {
        height: 30%;
    }

    .mat-typography .img_responsivo {
        height: 100%;
        width: 100%;
    }


}


/*1024px - 1200px = desktop*/
@media (min-width: 1024px) {

    .mat-typography h2 {
        font-size: 22px;
    }

    .mat-typography p {
        font-size: 18px;
    }

    .mat-typography .footer_completo .footer {
        margin-top: 3%;
    }

    .mat-typography .img_responsivo {
        height: 100%;
        width: 100%;
    }

}

/*1200px e + = telas maiores, tvs*/
@media (min-width: 1200px) {
    .mat-typography h2 {
        font-size: 26px;
    }

    .mat-typography p {
        font-size: 22px;
    }

    .mat-typography .footer_completo .footer {
        margin-top: 1%;
    }

    .mat-typography .img_responsivo {
        height: 100%;
        width: 100%;
    }
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }